<div class = "card border-primary">
<div class="card-header">{{titulo}}</div>
<div class="card-body">

<form method="post">

  <div class="container ppal">
    
    <div class="login-box">
     <h2>Login</h2>
 
     <form>
         <div class="user-box">
             <input type="text" name="" required="">
             <label> Nombre Usuario</label>
         </div>
 
         <div class="user-box">
             <input type="password" name="" required="">
             <label> Contraseña</label>
         </div>
 
         <a href="#">
             
      Ingresar
         </a>
     </form>
    </div>
 </div>
</form>

</div>
</div>

  