<!--

       <mat-card class="card-pedido">
            <label>agregaste a tu carrito</label>
            <br>
        
            <mat-card-title>nombre</mat-card-title>


        <mat-grid-tile>

            <label>lista de productos: </label>
            <mat-card-title>producto 1(nombre, precio, imagen</mat-card-title>
            <br>
            <mat-card-title>producto 2(nombre, precio, imagen</mat-card-title>
            <label>$valor total</label>
        </mat-grid-tile>
      
<button>ver carrito</button>
<button>comprar carrito</button>
  

</mat-card>
-->


<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                 <th>idPedido</th>
                <th>codigo</th>
                <th>fechaPedido</th>
                <th>estado</th>
                <th>cliente</th>
                <th>productos</th>
                <th>eliminar</th>
                
                <!--<th>producto</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Quitar de lista</th>-->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pedido of pedidos">
                
                <td>{{pedido.idPedido}}</td>        
                <td>{{pedido.codigo}}</td>    
                <td>{{pedido.fechaPedido}}</td>        
                <td>{{pedido.estado}}</td>
                <td>{{pedido.idClie}}</td>

                <td>{{pedido.productos}}</td>
          
             
                <td>
                    <button type="button" name="eliminar" (click)='eliminarPedido(pedido)' class="btn btn-danger btn-sm">eliminar</button>


                </td>
                
                <!--td>{{producto.Cantidad}}</td>
                <td>{{producto.total}}</td>
                <td> </td>-->
            </tr>
           
        </tbody>
    </table>
</div>