<div class="container ppal">


    <div class="login-box" >
    <h2>Registrate</h2>
      
    <form >
    
      <div class="user-box">
        <!--<input type="text" name=""  required="" [(ngModel)]= "colaborador.nombre">-->
        <input type="text" name=""  required="">
          <label for="NOMBRE" class="col-form-label col-sm-3"> Nombre </label>
      </div>
         
      
      <div class="user-box">
    
        <input type="text" name="" required="">
        <label for="usuario" class="col-form-label col-sm-3"> Usuario </label>
      </div>
       
    <div class="user-box">
      <input type="text" name="" required=""  [type]="hide ? 'password' : 'text'"  >
      <label for="contraseña"> cree una contraseña</label>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
     
      </button>
    </div>
    
        <!--<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
     
     <a href="#" (click)='registrar()'*ngIf="">
      Registrar
    </a>
    
      
    <ng-template #elseBlock>
    <a href="#"  (click)='update()'>
      Actualizar
    </a>
    
    </ng-template>
    
    
    </form>
    </div>
    
    </div>
    