<div class = "form">

    <mat-card-title> Registrar agricultor </mat-card-title>
    <mat-card-content>
        <div class="container">
<mat-form-field>
    <input matInput placeholder="Nombre"/>
</mat-form-field>

<mat-form-field>
    <input matInput placeholder="cedula"/>
</mat-form-field>

<mat-form-field>
    <input matInput placeholder="Edad"/>
</mat-form-field>

<mat-form-field>
    <input type="password" matInput placeholder="password"/>
</mat-form-field>

        </div>
    </mat-card-content>

    
    <mat-card-actions>
        <button class="button col" mat-raised-button> 
        Registrar
        </button>
    </mat-card-actions>


</div>