
<div fxLayout="row wrap" fxLayout.xs="columns" fxLayout.md="columns" fxLayoutAlign="center" fxLayoutGap="20px">
<div fxFlex="20" 
*ngFor="let producto of productos"
fxFlex.xs="10"
fxFlex.md="15"
fxFlex.sm="20">
<mat-card class="example-card">
  <mat-card-title-group>

    <mat-card-title>{{producto.nombre}}</mat-card-title>
    <mat-card-subtitle>{{producto.nombrecientifico}}</mat-card-subtitle>
    <img mat-card-sm-image src="/assets/naranja_g.jpg" >
  </mat-card-title-group>
  <mat-card-content>


    

    <mat-card-text>${{producto.precio}}</mat-card-text>

    <mat-card-text>{{producto.disponibilidad}}</mat-card-text>

    
  </mat-card-content>

  <mat-card-actions>
    <button mat-stroked-button color="warn">editar</button>
    
    <button type="button" name="eliminar" (click)='delete(producto)' class="btn btn-danger btn-sm"> eliminar </button>

 
    <button [routerLink]="['/carrito-compras']" (click)='creandoPedido()' class="material-symbols-outlined"> shopping_cart_checkout</button>
    
  </mat-card-actions>
</mat-card>


</div>
</div>
