<div class="container text-center">

    <div class="row">
      <div class="col">
  
        
        <mat-card class="example-card">
          <mat-card-title-group>
            <mat-card-title>San vicente</mat-card-title>
            

            <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
          

            
            <div class="card" style="width: 18rem;">
          <div id= "mapa-mapbox" class="card-map">
          </div>
            </div>
          </mat-card-title-group>
          <mat-card-content>

            <div  class="alert alert-primary" role="alert" >
              <a href="productos_finca" class="btn btn " data-toggle="modal" data-target="#dialogo1">citricos </a>  

              
            
                <div class="modal fade" id="dialogo1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                
                      <!-- cabecera del diálogo -->
                      <div class="modal-header">
                        <h4 class="modal-title" placeHolder="citricos">Citricos</h4>
                        <button type="button" class="close" data-dismiss="modal">X</button>
                      </div>
                
                      <!-- cuerpo del diálogo -->
                      <div class="modal-body">
                      
                      <mat-card class="naranja">
                    
                      <div class="row">
                        <div class="col">
                        <label>NARANJA  $1500LB</label>
                      </div>

                      <div class="col">
                       <a href="productos_finca"> ver ficha técnica</a>
                       <!--


                      aqui va el cuadro dialog de la ficha técnica
                       -->
                       
                      </div>
                      </div>
                       

                      <div class="img"><img mat-card-image src="/assets/naranja_g.jpg"></div>
                      <span class="input-group-text">$</span>
                      <span class="input-group-text">0.00</span>
                      <input type="text" placeholder="¿cuanto deseas?" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                     
                     <div class="row">
                      <div class="col">
                        <button mat-button>añadir a carrito</button>
                    </div>
                    <div class="col">
                      <button mat-button>cancelar</button>
                    </div>
                    </div>
<!--barra de progrso-->
                    <mat-divider inset></mat-divider>
            
                    <mat-card-footer>
                      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </mat-card-footer>
                    </mat-card>

                    
          
                      <mat-card class="limon">

                        <label>Limón Tahiti  $1000LB</label>
                        <div class="img"><img mat-card-image src="/assets/Limon-Tahiti.jpg"></div>
                        <span class="input-group-text">$</span>
                        <span class="input-group-text">0.00</span>
                        <input type="text" placeholder="¿cuanto deseas?" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                       
                       <div class="row">
                        <div class="col">
                          <button mat-button>añadir a carrito</button>
                      </div>
                      <div class="col">
                        <button mat-button>cancelar</button>
                      </div>
                      </div>
                      <mat-divider inset></mat-divider>
            
                      <mat-card-footer>
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                      </mat-card-footer>

                      </mat-card>

                      </div>

        
                      <!-- pie del diálogo -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      </div>
                
                    </div>
                  </div>
                </div> 
            

                <a href="productos_finca" class="btn btn " data-toggle="modal" data-target="#dialogo2">Hortalizas </a>  
            
              
            
                <div class="modal fade" id="dialogo2">
                  <div class="modal-dialog">
                    <div class="modal-content">
                
                      <!-- cabecera del diálogo -->
                      <div class="modal-header">
                        <h4 class="modal-title">Hortalizas</h4>
                        <button type="button" class="close" data-dismiss="modal">X</button>
                      </div>
                
                      <!-- cuerpo del diálogo -->
                      <div class="modal-body">
                        <mat-card class="Habichuela">
                          <label>Habichuela  $3000LB</label>
                        <div class="img"><img mat-card-image src="/assets/Habichuela.jpg"></div>
                        <span class="input-group-text">$</span>
                        <span class="input-group-text">0.00</span>
                        <input type="text" placeholder="¿cuanto deseas?" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                       
                       <div class="row">
                        <div class="col">
                          <button mat-button>añadir a carrito</button>
                      </div>
                      <div class="col">
                        <button mat-button>cancelar</button>
                      </div>
                      </div>
                      </mat-card>
  
  
                        <mat-card class="Limon-Tahiti">
  
                          <label>Pimentón $1000LB</label>
                          <div class="img"><img mat-card-image src="/assets/pimenton.jpg"></div>
                          <span class="input-group-text">$</span>
                          <span class="input-group-text">0.00</span>
                          <input type="text" placeholder="¿cuanto deseas?" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                         
                         <div class="row">
                          <div class="col">
                            <button mat-button>añadir a carrito</button>
                        </div>
                        <div class="col">
                          <button mat-button>cancelar</button>
                        </div>
                        </div>
  
                        </mat-card>
                      <!-- pie del diálogo -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      </div>
                
                    </div>
                  </div>
                </div> 
                </div>


                <a href="productos_finca" class="btn btn " data-toggle="modal" data-target="#dialogo3">Avicolas</a>  

              
            
                <div class="modal fade" id="dialogo3">
                  <div class="modal-dialog">
                    <div class="modal-content">
                
                      <!-- cabecera del diálogo -->
                      <div class="modal-header">
                        <h4 class="modal-title">Avicolas</h4>
                        <button type="button" class="close" data-dismiss="modal">X</button>
                      </div>
                
                      <!-- cuerpo del diálogo -->
                      <mat-card class="Huevos">
                        <label>Huevo $15000 panal 20unidades</label>
                      <div class="img"><img mat-card-image src="/assets/huevo.png"></div>
                      <span class="input-group-text">$</span>
                      <span class="input-group-text">0.00</span>
                      <input type="text" placeholder="¿cuanto deseas?" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                     
                     <div class="row">
                      <div class="col">
                        <button mat-button>añadir a carrito</button>
                    </div>
                    <div class="col">
                      <button mat-button>cancelar</button>
                    </div>
                    </div>
                    </mat-card>


                      <mat-card class="Pollo">

                        <label>Pollo Entero $40.000</label>

                        <label>Pollo Libra $6.500</label>
                        <div class="img"><img mat-card-image src="/assets/pollo.jpeg"></div>
                        <span class="input-group-text">$</span>
                        <span class="input-group-text">0.00</span>
                        <input type="text" placeholder="¿cuanto deseas?" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                       
                       <div class="row">
                        <div class="col">
                          <button mat-button>añadir a carrito</button>
                      </div>
                      <div class="col">
                        <button mat-button>cancelar</button>
                      </div>
                      </div>

                      </mat-card>
                      <!-- pie del diálogo -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      </div>
                
                    </div>
                  </div>
                </div>   
           
          </div>
        
          </mat-card-content>
        </mat-card>
        
      </div>
 --><!-- segunda tarjeta-->

<div class="col">
  
        
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>El avispal</mat-card-title>
      <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
      <div class="card" style="width: 18rem;">
        <div id= "mapa-mapbox2" class="card-map">
        </div>
      </div>
      
    </mat-card-title-group>
    <mat-card-content>

      <div  class="alert alert-primary" role="alert" >
        <a href="productos_finca" class="btn btn ">citricos </a>  
        <a href="productos_finca" class="btn btn ">Hortalizas </a>  
        <a href="productos_finca" class="btn btn ">Avicolas </a>  
     
    </div>
     
    </mat-card-content>
  </mat-card>
</div>

-->


<div class="col">
  
        
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>La estrella</mat-card-title>
     
      <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
      <div class="card" style="width: 18rem;">
        <div id= "mapa-mapbox3" class="card-map">
        </div>
    
    </div>
    </mat-card-title-group>
    <mat-card-content>

      <div  class="alert alert-primary" role="alert" >
        <a href="productos_finca" class="btn btn ">citricos </a>  
        <a href="productos_finca" class="btn btn ">Hortalizas </a>  
        <a href="productos_finca" class="btn btn ">Avicolas </a>  
     
    </div>
    </mat-card-content>
  </mat-card>
</div>

-->


<div class="col">
  
        
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Gato Monte</mat-card-title>
      <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >

      <div class="card" style="width: 18rem;">
        <div id= "mapa-mapbox4" class="card-map">
        </div>
    
    </div>
    </mat-card-title-group>
    <mat-card-content>
      <div  class="alert alert-primary" role="alert" >
        <a href="productos_finca" class="btn btn ">citricos </a>  
        <a href="productos_finca" class="btn btn ">Hortalizas </a>  
        <a href="productos_finca" class="btn btn ">Avicolas </a>  
     
    </div>
    </mat-card-content>
  </mat-card>
</div>

</div>



    </div>

