

<div id="mapa-mapbox2">
 
</div>


 <div class="card">
    <mat-card-title> welcome a tienda agro de: </mat-card-title>

    <mat-card-subtitle>agricultor</mat-card-subtitle>       
    
    <mat-card-subtitle>vereda</mat-card-subtitle>  
  
  </div>


  <mat-card class="example-card">

    <mat-card-title-group>

              
      <img mat-card-sm-image src="/assets/naranja_g.jpg">

      <mat-card-subtitle>nombre</mat-card-subtitle>
      <mat-card-subtitle>nombrecientifico</mat-card-subtitle>
      
      <mat-card-subtitle>link consultar ficha técnica</mat-card-subtitle>
      
      <mat-form-field floatLabel="always">
        <mat-label>cantidad</mat-label>
        <input matInput  type="number" class="example-right-align"  name="precio" placeholder="¿qué cantidad deseas?">
      </mat-form-field>

     
      <mat-card-actions>
        <button mat-raised-button color="primary">
          comprar
        </button>
        
      </mat-card-actions>
    </mat-card-title-group>

      </mat-card>