<mat-sidenav-container fullscreen>

  <!--aqui va lo del menú-->
  <mat-sidenav class="sidenav" #sidenav>

    <mat-toolbar>

      <span>Menú</span>
      <span class="spacer"></span>
      <button (click)="sidenav.toggle()">
        <span class="material-symbols-outlined">
          toggle_on
        </span>

      </button>
    </mat-toolbar>

    <!--lista-->

    <mat-nav-list>

      <mat-list-item> <span>Inicio</span></mat-list-item>

      
      <a routerLink="ver-productos" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>arrow_right</mat-icon>
        <span>Productos</span>
      </a>
      <a routerLink="crear-agricultor" mat-list-item mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>arrow_right</mat-icon>
        <span>Agricultores</span>
      </a>


    </mat-nav-list>

  </mat-sidenav>


  <mat-toolbar>
    <button (click)="sidenav.toggle()">

      <mat-icon class="example-label">home</mat-icon>

    </button>
    <span>AgroPlazaJamundi</span>


    <div class="login">
     
  
      <a routerLink="login"> 
       <mat-icon mat-list-icon>logout</mat-icon>
       
     </a>
   
     <a routerLink="registro"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
         <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
       </svg>
     </a>
   
      </div>
     

  </mat-toolbar>

  <router-outlet> </router-outlet>

</mat-sidenav-container>