<mat-toolbar class="menu">
    <mat-icon aria-hiden= "false" aria-label="Add Task">
 </mat-icon>


  
 <span class="material-symbols-outlined"> login</span>

 <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Buscar Agricultor" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
    <ul class="navbar-nav navbar-right">
        <li><a [routerLink]="['/login']" class="btn btn-outline-primary"> Login</a></li>
    </ul>

    <ul class="navbar-nav navbar-right">
        <li><a [routerLink]="['/registro']" class="btn btn-outline-primary"> Registration</a></li>
    </ul>
    


</mat-toolbar>
