.button{
    position:absolute;
    text-align: center;
    
}
.mat-form-field {
    margin-top: 16px;
  }

.producto{

    width: 600px;
    height: 400px;
    margin: 10%;
}

.form-group{

    margin: 10px;
}

.btn{
    margin-right: 10px;
    margin-left: 40px;
}