<mat-card class="producto">

  <form>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Código</mat-label>
        <input matInput [(ngModel)]="producto.codigo" name="codigo" placeholder="Codigo">
  
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>código para producto</mat-hint>
      </mat-form-field>
    </p>




    
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="producto.nombre" name="nombre" placeholder="Nombre">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>nombre de producto</mat-hint>
    </mat-form-field>
  </p>


  <p>
    <mat-form-field floatLabel="always">
      <mat-label>Precio</mat-label>
      <input matInput  type="number" class="example-right-align" [(ngModel)]="producto.precio" name="precio" placeholder="0">
      <span matTextPrefix>$&nbsp;</span>
      <span matTextSuffix>.00</span>
    </mat-form-field>
  </p>
  
  <p>
    <mat-form-field>
        <mat-label>Descripción</mat-label>
        <textarea matInput [(ngModel)]="producto.descripcion" name="descripcion"></textarea>
      </mat-form-field>
  </p>


  <p>
    <mat-form-field appearance="outline">
      <mat-label>Estado</mat-label>
      <input matInput  [(ngModel)]="producto.estado" name="estado" placeholder="Estado">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>estado del producto</mat-hint>
    </mat-form-field>
  </p>


  <mat-form-field appearance="outline">
    <mat-label>Categoria</mat-label>
    <input matInput [(ngModel)]="producto.categoria" name="categoria" placeholder="seleccionen Categoria">
  
    <mat-hint>categoria del producto</mat-hint>
    
       <mat-select>


        <mat-option *ngFor="let categoria of categorias" [value]="categoria.value">
          {{categoria.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <p>
      <mat-form-field appearance="outline">
        <mat-label>Nombre Cientifico</mat-label>
        <input matInput [(ngModel)]="producto.nombrecientifico" name="nombrecientifico" placeholder="Nombre Cientifico">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>nombre Cientifico</mat-hint>
      </mat-form-field>
    </p>    
    
    <mat-form-field appearance="outline">
      <mat-label>Disponibilidad</mat-label>
      <input matInput [(ngModel)]="producto.disponibilidad" name="disponibilidad" placeholder="Disponibilidad">
    
      <mat-hint>kg-Lb-Tonelada</mat-hint>
      
         <mat-select>
  
  
          <mat-option *ngFor="let disponibilidad of disponibilidad" [value]="disponibilidad.value2">
            {{disponibilidad.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>


    <div class="form-group row-sm-10">

      <div class="col-sm-8">
        <mat-card-actions>
          <button class="btn btn-strocked" role="button" (click)='registar()'
            *ngIf="!producto.idProducto else elseBlock">Guardar
          </button>
        </mat-card-actions>

        <ng-template #elseBlock>

        </ng-template>
      </div>
    </div>
  </form>
</mat-card>