
<div class="form border_left">
<mat-card-title> Registre un Producto
</mat-card-title>


<mat-card-content>
    <div class="container">
        jhvfyvhjvbvhg
mnvhjvhgvhj n n
<div></div>
        <mat-form-field>
            <label>id_Inventario</label>
        <form class="form-floating">
           
            <input placeholder="id_inventario" type="id" class="form-control" value="">
            
                </form>
                </mat-form-field>

                <mat-form-field>
    <label>digite una cantidad</label>
      <form class="form-floating">
  <input type="number" class="form-control"  placeholder="cantidad" value="">
  <label for="floatingInputValue"></label>
      </form>
       </mat-form-field>
        <br>

        <mat-form-field>
            <label>Valor Unitario</label>
              <form class="form-floating">
  <input type="number" class="form-control"  placeholder="valorUnitario" value="">
  <label for="floatingInputValue"></label>
      </form>
    </mat-form-field>

 <mat-form-field>
    <label>nombre_agricultor</label>
 <form class="form-floating">
    <input type="text" class="form-control" placeholder="nombre_agricultor" value="">
    <label for="floatingInputValue"></label>
        </form>
    </mat-form-field>
 <br>

 <mat-form-field>
    <label>nombre_producto</label>
 <form class="form-floating">
    <input type="text" class="form-control" placeholder="nombre_producto" value="">
    <label for="floatingInputValue"></label>
        </form>
    </mat-form-field>
 
 <mat-form-field>
 <select class="form-select" aria-label="Default select example">
    <option selected>seleccione una categoria</option>
    <option value="1">AGRICOLA</option>
    <option value="2">PEQUARIA</option>
    <option value="3">PESQUERA</option>
  </select>
 </mat-form-field>
 <br>


 <mat-form-field>
    <label>salida_producto</label>
 <form class="form-floating">
    <input type="number" class="form-control"  placeholder="salida_producto" value="">
    <label for="floatingInputValue"></label>
        </form>
 </mat-form-field>
 
 <mat-form-field>
    <label>Stock producto</label>
 <form class="form-floating">
    <input type="number" class="form-control"  placeholder="Stock-Minimo" value="">
    <label for="floatingInputValue"></label>
        </form>
 </mat-form-field>
 <br>

 <mat-form-field>
    <label>Id-producto</label>
 <form class="form-floating">
    <input type="Id" class="form-control"  placeholder="id_producto" value="">
    <label for="floatingInputValue"></label>
        </form>
    </mat-form-field>
    </div>
    
</mat-card-content>

<mat-card-actions>

    <button type="button" class="btn btn-primary">Crear product</button>

    
</mat-card-actions>


</div>
