.button{
    position:absolute;
    text-align: center;
    
}
.mat-form-field {
    margin-top: 16px;
  }

.producto{

    background-color: aqua;
    width: 300px;
    height: 400px;
    margin: 100px;
}

.form-group{

    margin: 10px;
}

.btn{
    margin-right: 10px;
    margin-left: 40px;
}