<div class="card border-primary mb-3">
  <div class="card-header">productos</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Módulo Agricultores</h5>


    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Nombre Agricultor</th>
          <th># Productos Registrados</th>
          <th>Estado</th>
          <th>----</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>heberth</td>
          <td>10</td>
          <td>Activo</td>
          <td><a routerLink="crear-producto">create new product</a></td>

        </tr>

      </tbody>
    </table>
  </div>
</div>

<div class="card border-primary mb-3">
  <div class="card-header">ventas</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Módulo Agricultores</h5>


    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Nombre Agricultor</th>
          <th># Productos Vendidos</th>
          <th>Estado</th>
          <th>Ventas</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>heberth</td>
          <td>10</td>
          <td>Activo</td>
          <td><a href="#">ver ventas</a></td>
          <td></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>


<div class="card border-primary mb-3">
  <div class="card-header">gastos</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Módulo Agricultores</h5>


    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Nombre Agricultor</th>

          <th>Estado</th>
          <th>Gastos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>heberth</td>

          <td>Activo</td>
          <td><a routerLink="/crear-producto">Registrar gastos</a></td>
          <td></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
<!--
<div *ngFor="let destino of destinations">
    <h1> {{destino.name}}</h1>-->