
  
<mat-card class="agricultor">
<form>

    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput name="nombre" placeholder="Nombre">
      <mat-hint>Nombre completo</mat-hint>
    </mat-form-field>
  

    
    
  
    <mat-form-field appearance="fill">
      <mat-label>Tipo Identificación</mat-label>
      <input matInput name="nombre" placeholder="Nombre">
      <mat-hint> CC-TI-PP </mat-hint>
      </mat-form-field>
  

  
    <mat-form-field appearance="fill">
      <mat-label>Número identificación</mat-label>
      <input matInput name="nombre" placeholder="Nombre">
      <mat-hint>digite número identificación</mat-hint>
    </mat-form-field>
  
  
  
    <mat-form-field appearance="fill">
      <mat-label>correo electrónico</mat-label>
      <input matInput name="nombre" placeholder="digite correo electrónico">
      <mat-hint>usuario@</mat-hint>
    </mat-form-field>
  
      <mat-form-field appearance="fill">
      <mat-label>Telefono</mat-label>
      <input matInput name="nombre" placeholder="telefono">
      <mat-hint>Teléfono o celular</mat-hint>
    </mat-form-field>
  


    <mat-form-field appearance="fill">
      <mat-label>sexo</mat-label>
      <input matInput name="nombre" placeholder="sexo">
      <mat-hint>M/F o ND</mat-hint>
    </mat-form-field>
  
  
    <mat-form-field appearance="fill">
      <mat-label>Región</mat-label>
      <input matInput name="región" placeholder="región">
      <mat-hint>Región</mat-hint>
    </mat-form-field>
  

  
    <mat-form-field appearance="fill">
      <mat-label>actividad agricultor</mat-label>
      <input matInput name="nombre" placeholder="actividad agricultor">
      <mat-hint>actividad agricultor</mat-hint>
    </mat-form-field>
  
    <div class="form-group row-sm-10">

      <div class="col-sm-8">
        <mat-card-actions>
          <button class="btn btn-strocked" role="button" (click)='registarAgriucultor()'
            *ngIf="!agricultor.idAgric else elseBlock">Guardar
          </button>
        </mat-card-actions>

        <ng-template #elseBlock>

        </ng-template>
      </div>
    </div>

</form>
</mat-card>
