.agricultor{
    margin: 25%;
}

.agricultor{

    width: 800px;
    height: 400px;
    margin: 7%;
}


.mat-form-field {
    margin-top: 16px;
  }

  mat-grid-tile {
    background: lightblue;
  }
  