.imagenes{

    height: 200px;
    width: 600px;
    margin: 70px;
    padding: 20px;
    border: 20px;
    position: relative;
  
  }

  .carousel slide{

    height: 200px;
    width: 600px;
    margin: 70px;
    padding: 20px;
    border: 20px;
    position: relative;
  
  }